# Geospatial Database

This  is a basic walk through of some geospatial data in the *dsa_ro* database.
The SQL queries can be executed using the notebook cells with 
  * the **sql** extension,
  * the command line `psql` utility,
  * or using the `psycopg2` library and Python programming.

In [2]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@dbase.dsa.missouri.edu/dsa_ro

'Connected: dsa_ro_user@dsa_ro'

The geospatial schema has the following tables available:
  * Geonames features
  * Admininstrative divisions
  * Country borders

## Geonames features

```SQL
dsa_ro=# \d geospatial.geonames_feature

                 Table "geospatial.geonames_feature"
      Column      |          Type          |            Modifiers  
------------------+------------------------+--------------------------------------
 feature_id       | bigint                 | not null default
                                             nextval(
                                             'geospatial.geonames_feature_feature_id_seq'::regclass
                                             )
 domaingroup_id   | integer                | 
 sort_name        | character varying(200) | 
 name             | character varying(200) | not null
 full_name        | character varying(300) | 
 earth_position   | earth                  | 
 ccode            | character(2)           | 
 geoclass         | character varying(5)   | 
 first_order_adm  | character(2)           | 
 second_order_adm | character varying(100) | 
 elevation        | real                   | 
 population       | integer                | 
 coords           | geometry(Point,4326)   | 
Indexes:
    "geonames_feature_pkey" PRIMARY KEY, btree (feature_id)
    "geonames_feature_cc1_adm1_adm2" btree (ccode, first_order_adm, second_order_adm)
    "geonames_feature_class" btree (geoclass)
    "geonames_feature_coords_idx" gist (coords)
    "geonames_feature_cords" gist (coords)
    "geonames_feature_countrycode" btree (ccode)
    "geonames_feature_domaingroup_id" btree (domaingroup_id)
    "geonames_feature_earth_position" gist (earth_position)

```

## Administrative Borders

```SQL
dsa_ro=# \d geospatial.gadm_admin_borders

        Table "geospatial.gadm_admin_borders"
   Column   |            Type             | Modifiers 
------------+-----------------------------+-----------
 gid        | integer                     | not null
 objectid   | integer                     | 
 iso        | character varying(254)      | 
 name_0     | character varying(254)      | 
 name_1     | character varying(254)      | 
 varname_1  | character varying(254)      | 
 nl_name_1  | character varying(254)      | 
 hasc_1     | character varying(254)      | 
 fips_1     | character varying(254)      | 
 cc_1       | character varying(254)      | 
 type_1     | character varying(254)      | 
 engtype_1  | character varying(254)      | 
 validfr_1  | character varying(254)      | 
 validto_1  | character varying(254)      | 
 remarks_1  | character varying(254)      | 
 name_2     | character varying(254)      | 
 varname_2  | character varying(254)      | 
 nl_name_2  | character varying(254)      | 
 hasc_2     | character varying(254)      | 
 fips_2     | character varying(254)      | 
 cc_2       | character varying(254)      | 
 type_2     | character varying(254)      | 
 engtype_2  | character varying(254)      | 
 validfr_2  | character varying(254)      | 
 validto_2  | character varying(254)      | 
 remarks_2  | character varying(254)      | 
 name_3     | character varying(254)      | 
 varname_3  | character varying(254)      | 
 nl_name_3  | character varying(254)      | 
 hasc_3     | character varying(254)      | 
 type_3     | character varying(254)      | 
 engtype_3  | character varying(254)      | 
 validfr_3  | character varying(254)      | 
 validto_3  | character varying(254)      | 
 remarks_3  | character varying(254)      | 
 name_4     | character varying(254)      | 
 varname_4  | character varying(254)      | 
 type_4     | character varying(254)      | 
 engtype_4  | character varying(254)      | 
 validfr_4  | character varying(254)      | 
 validto_4  | character varying(254)      | 
 remarks_4  | character varying(254)      | 
 name_5     | character varying(254)      | 
 type_5     | character varying(254)      | 
 engtype_5  | character varying(254)      | 
 validfr_5  | character varying(254)      | 
 validto_5  | character varying(254)      | 
 shape_leng | numeric                     | 
 shape_area | numeric                     | 
 the_geom   | geometry(MultiPolygon,4326) | 
Indexes:
    "gadm_admin_borders_pkey" PRIMARY KEY, btree (gid)
    "gadm_admin_borders_the_geom_gist" gist (the_geom)

```

## Country Borders 

```SQL
dsa_ro=# \d geospatial.country_borders

           Table "geospatial.country_borders"
  Column   |            Type             |        Modifiers                                 
-----------+-----------------------------+---------------------------------
 gid       | integer                     | not null default 
                                           nextval(
                                           'geospatial.country_borders_gid_seq'::regclass
                                           )
 fips      | character varying(2)        | 
 iso2      | character varying(2)        | 
 iso3      | character varying(3)        | 
 un        | smallint                    | 
 name      | character varying(50)       | 
 area      | bigint                      | 
 pop2005   | bigint                      | 
 region    | smallint                    | 
 subregion | smallint                    | 
 lon       | double precision            | 
 lat       | double precision            | 
 the_geom  | geometry(MultiPolygon,4326) | 
Indexes:
    "country_borders_pkey" PRIMARY KEY, btree (gid)
    "country_borders_the_geom_gist" gist (the_geom)


```

## Spatial Indexing

Regular databases use indexes to accelerate access to data.
Spatial data uses indexes that function differently than traditional `btree` indexes on values.
In each of the spatial data tables, we can see the following:
  * a spatial data column, such as `geonames_feature.country_borders`
  * a spatial index on the column, such as `"country_borders_the_geom_gist" gist (the_geom)`

---

## Spatial SQL

Looking at a couple rows of geospatial data!

Functions utilized below are available from the PostGIS reference.  
http://postgis.net/docs/reference.html

In [3]:
%%sql
-- *************************************************
-- LOOK at the Well-Known Binary vs Well-Known Text
-- *************************************************
SELECT feature_id,sort_name, geoclass
 , coords as "WKB"
 , st_asText(coords) as "WKT"
FROM geospatial.geonames_feature 
LIMIT 10;

10 rows affected.

[(7938667, 'HSINCHUKUNGYEHCHU', 'INDS', '0101000020E610000085EB51B81E415E40399D64ABCBDD3840', 'POINT(121.0175 24.866389)'),
 (7938668, '新竹工業區', 'INDS', '0101000020E610000085EB51B81E415E40399D64ABCBDD3840', 'POINT(121.0175 24.866389)'),
 (7938669, 'HSINCHUINDUSTRIALPARK', 'INDS', '0101000020E610000085EB51B81E415E40399D64ABCBDD3840', 'POINT(121.0175 24.866389)'),
 (7938670, 'XINZHUGONGYEQU', 'INDS', '0101000020E610000085EB51B81E415E40399D64ABCBDD3840', 'POINT(121.0175 24.866389)'),
 (7938671, 'SINJHUGONGYECYU', 'INDS', '0101000020E610000085EB51B81E415E40399D64ABCBDD3840', 'POINT(121.0175 24.866389)'),
 (7938672, 'HSINCHUHUKOUKUNGYEHCHU', 'INDS', '0101000020E610000085EB51B81E415E40399D64ABCBDD3840', 'POINT(121.0175 24.866389)'),
 (7938673, 'POLOWENCHIAO', 'BDG', '0101000020E6100000FC6EBA6587415E409432A9A10DE43840', 'POINT(121.023889 24.890833)'),
 (7938674, '波羅汶橋', 'BDG', '0101000020E6100000FC6EBA6587415E409432A9A10DE43840', 'POINT(121.023889 24.890833)'),
 (7938675, 'BOLUOWENQIAO', 'BDG', '0101000020E6100000FC6EBA6587415E409432A9A10DE43840', 'POINT(121.023889 24.890833)'),
 (7938676, 'BOLUOWUNCIAO', 'BDG', '0101000020E6100000FC6EBA6587415E409432A9A10DE43840', 'POINT(121.023889 24.890833)')]

In [4]:
%%sql
-- *************************************************
-- See a Polygon, filtered to small # of vertices
-- Notice these are the MultiPolygon variety
-- *************************************************
SELECT gid,iso, name_0
 -- ##COMMENTED OUT  , the_geom as "WKB"
, st_asText(the_geom) as "WKT"
FROM geospatial.gadm_admin_borders 
WHERE ST_NPoints(the_geom) < 5
LIMIT 5;

5 rows affected.

[(116906, 'NZL', 'New Zealand', 'MULTIPOLYGON(((170.746109090418 -45.8161136012586,170.746109090418 -45.8163870975382,170.745849268953 -45.8163870975382,170.746109090418 -45.8161136012586)))'),
 (116907, 'NZL', 'New Zealand', 'MULTIPOLYGON(((170.669021885017 -45.8340344449471,170.670042937792 -45.8330088339007,170.670181965068 -45.8337176450905,170.669021885017 -45.8340344449471)))'),
 (116890, 'NZL', 'New Zealand', 'MULTIPOLYGON(((167.084105590832 -45.4679300466,167.084410995011 -45.467681620813,167.084410995011 -45.467923209193,167.084105590832 -45.4679300466)))'),
 (116900, 'NZL', 'New Zealand', 'MULTIPOLYGON(((170.748078263628 -45.7872096028286,170.748230965718 -45.7868358245805,170.748335805958 -45.7869452230921,170.748078263628 -45.7872096028286)))'),
 (116920, 'NZL', 'New Zealand', 'MULTIPOLYGON(((170.282241167969 -45.9758149160361,170.282029208353 -45.9761613446562,170.281678221461 -45.9762388352688,170.282241167969 -45.9758149160361)))')]

In [5]:
%%sql
-- *************************************************
-- See a Polygon, filtered to small # of vertices
-- Notice these are the MultiPolygon variety
-- *************************************************
SELECT gid,iso3, name
 -- ##COMMENTED OUT  , the_geom as "WKB"
, st_asText(the_geom) as "WKT"
FROM geospatial.country_borders
WHERE ST_NPoints(the_geom) < 12
LIMIT 5;

4 rows affected.

[(134, 'GIB', 'Gibraltar', 'MULTIPOLYGON(((-5.334508 36.16256,-5.33755 36.149441,-5.335851 36.138794,-5.33823 36.112175,-5.345253 36.11274,-5.35624 36.126785,-5.354994 36.145363,-5.344573 36.150234,-5.355799 36.163307,-5.334508 36.16256)))'),
 (137, 'MAC', 'Macau', 'MULTIPOLYGON(((113.531662 22.194736,113.531372 22.201939,113.532494 22.20583,113.536102 22.211662,113.545258 22.214439,113.554428 22.21273,113.556374 22.193607,113.555817 22.186939,113.552467 22.183052,113.546097 22.184441,113.531662 22.194736)))'),
 (150, 'CXR', 'Christmas Island', 'MULTIPOLYGON(((105.701401 -10.51097,105.683098 -10.47414,105.644501 -10.46614,105.628998 -10.43731,105.654602 -10.41489,105.715202 -10.38447,105.736603 -10.38408,105.7509 -10.39408,105.7519 -10.48375,105.736298 -10.50456,105.701401 -10.51097)))'),
 (239, 'VAT', 'Holy See (Vatican City)', 'MULTIPOLYGON(((12.4450903308886 41.9031175217848,12.4516533395805 41.9079890333912,12.4566601709538 41.9014260246992,12.4450903308886 41.9031175217848)))')]

--- 
## Simple spatial driven statistics

In our *administrative boundaries* table we are looking within a country and at its adminstrative levels.
For example, in the US, this is tycally *State*, *County*, *City* as three levels.
Since all this data is contained in one table, the level is derived from the existence of `NULL` values.
For instance, a 1st-Order Administrative Division will have `NULL` values for `name_2`, `name_3`, and `name_4` will be `NULL`.

#### Count the number of first-order administrative divisions.

In [10]:
%%sql
SELECT COUNT(*) 
FROM geospatial.gadm_admin_borders 
WHERE name_1 IS NOT NULL
 AND  name_2 IS NULL
 AND  name_3 IS NULL
 AND  name_4 IS NULL
;

1 rows affected.

[(1330,)]

#### Count the number of fourth-order administrative divisions.

In [11]:
%%sql
SELECT COUNT(*) 
FROM geospatial.gadm_admin_borders 
WHERE name_1 IS NOT NULL
 AND  name_2 IS NOT NULL
 AND  name_3 IS NOT NULL
 AND  name_4 IS NOT NULL
;

1 rows affected.

[(16083,)]

#### What are the 10 largest countries, as reported by their area field; and what is the square KM of the polygon defining their borders?

NOTE: The geometric polygons are in Latitude/Longitude in a spatial reference of degrees.
The `geography` type allows us to compute in metric units (meters) instead of degrees.

In [12]:
%%sql
SELECT iso3, area, (ST_Area(the_geom::geography)/10^6)::int AS "Square KM"
FROM geospatial.country_borders
ORDER BY 2 DESC
LIMIT 10;

10 rows affected.

[('RUS', 1638094, 16944691),
 ('CHN', 932743, 9369069),
 ('USA', 915896, 9469924),
 ('CAN', 909351, 9959734),
 ('BRA', 845942, 8506189),
 ('AUS', 768230, 7690034),
 ('IND', 297319, 3153190),
 ('ARG', 273669, 2781056),
 ('KAZ', 269970, 2723318),
 ('DZA', 238174, 2317479)]

#### What is are the largest 4th order administrative division in our database?

In [13]:
%%sql
SELECT iso,name_1, name_2, name_3, name_4,  (ST_Area(the_geom::geography)/10^6)::int AS "Square KM"
FROM geospatial.gadm_admin_borders
WHERE name_1 IS NOT NULL
 AND  name_2 IS NOT NULL
 AND  name_3 IS NOT NULL
 AND  name_4 IS NOT NULL
ORDER BY 6 DESC
LIMIT 1
;

1 rows affected.

[('FIN', 'Lapland', 'Lapland', 'Northern Lapland', 'Inari', 17353)]

#### List the number of Dams per country, showing the top-20 countries with the most dams.

In [20]:
%%sql
SELECT count(*), ccode, name
FROM geospatial.geonames_feature
where geoclass = 'DAM'
GROUP BY ccode, name
;

48440 rows affected.

In [18]:
%%sql
select count(*), ccode 
from geospatial.geonames_feature
where geoclass = 'DAM'
group by ccode
order by 1 desc
limit 20;

20 rows affected.

[(56943, 'US'),
 (253, 'IR'),
 (162, 'MX'),
 (146, 'TW'),
 (145, 'ID'),
 (64, 'TU'),
 (58, 'PK'),
 (58, 'TZ'),
 (52, 'ZA'),
 (50, 'NS'),
 (47, 'TH'),
 (45, 'MR'),
 (43, 'AF'),
 (40, 'CY'),
 (40, 'EG'),
 (39, 'AG'),
 (37, 'MO'),
 (35, 'IZ'),
 (28, 'ZI'),
 (27, 'JA')]

Recall, spatial relationships such as intersection were a key analytical aspect of geospatial data.
Blending tables exploits the spatial indexing for intersection operations.
This allows us to begin to ask more interesting questions.

#### List of country code, 1st order, 2nd order administrative divisions and the number of dams in those that have more than 10 dams. Excluding the US.

In [15]:
%%sql
SELECT f.ccode, b.name_1, b.name_2, count(*) "Dam Count"
FROM geospatial.gadm_admin_borders b
JOIN geospatial.geonames_feature f
-- This JOIN syntax is a spatial intersection
 ON (b.the_geom && f.coords)
WHERE b.name_2 IS NOT NULL
 AND b.name_3 IS NULL
-- This spatial intersection test confirms that the JOIN was correct
 AND ST_Intersects(b.the_geom , f.coords)
 AND f.geoclass = 'DAM'
 AND f.ccode <> 'US'
GROUP BY f.ccode, b.name_1, b.name_2
HAVING count(*) > 10
ORDER BY ccode, count(*) DESC
;

22 rows affected.

[('FR', 'Limousin', 'Corrèze', 11),
 ('ID', 'Jawa Tengah', 'Wonogiri', 56),
 ('ID', 'Jawa Tengah', 'Karanganyar', 13),
 ('IR', 'Khuzestan', 'Dezful', 18),
 ('IR', 'Tehran', 'Shemiranat', 18),
 ('IR', 'Kordestan', 'Saqqez', 15),
 ('IR', 'Gilan', 'n.a. ( 51)', 15),
 ('IR', 'West Azarbaijan', 'Mahabad/ Naqadeh', 13),
 ('IR', 'West Azarbaijan', 'Maku', 12),
 ('MR', 'Hodh el Gharbi', 'Tamchakett', 16),
 ('MX', 'Chihuahua', 'Jiménez', 29),
 ('MX', 'Chihuahua', 'Camargo', 11),
 ('MX', 'Chihuahua', 'Casas Grandes', 11),
 ('NS', 'Sipaliwini', 'Boven Suriname', 19),
 ('NS', 'Sipaliwini', 'Bven Saramacca', 14),
 ('TW', 'Taiwan', 'Taichung', 35),
 ('TW', 'Taiwan', 'Nantou', 21),
 ('TW', 'Taiwan', 'Ilan', 20),
 ('TW', 'Taiwan', 'Taoyuan', 19),
 ('TW', 'Taiwan', 'Hsinchu', 14),
 ('TW', 'Taiwan', 'Hualien', 14),
 ('TW', 'Taiwan', 'Taipei', 13)]